/*
*= require_self
*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1140px;
  padding-left: 2em;
  padding-right: 2em;
}

.list--layout {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.map {
  background-color: #555;
  height: 520px;
  a {
    color: white;
    text-decoration: none;
  }
}

.map__header {
  background-color: rgba(255, 255, 255, .1);
  padding: 2em 0;

  .logo {
    float: left;
  }
  .membership {
    float: right;
    li {
      float: left;
      margin-left: 2em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
