/*
*= require_self
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  @media only screen and (min-width : 480px) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.modal {
  background: rgba(0, 0, 0, .9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
}

.list--layout {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.map__header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;

  a {
    color: black;
    text-decoration: none;
  }

  .logo {
    float: left;
  }
  .membership {
    float: right;
    li {
      float: left;
      margin-left: 2em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.map {
  background-color: #eee;
  height: 520px;
  cursor: default;
}

.tagline,
.content {
  margin: 3.5em 0;
}

.tagline h2 {
  margin: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  font-family: "adelle", sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
}

@media only screen and (min-width : 720px) {
  .content__piece--calendar {
    float: left;
    padding-right: 1em;
    width: percentage(2 / 3);
  }
  .content__piece--posts {
    float: right;
    padding-left: 1em;
    width: percentage(1 / 3);
  }
}

/*
Calendar
*/

.calendar {
  $offset: .125em;

  background-color: rgba(0, 0, 0, 0);
  margin: -$offset;

  h1 {
    margin: 0;
    margin-bottom: 1em;
    position: relative;

    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(85, 85, 85);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 25%;
      height: 1px;
      background-color: rgb(35, 35, 35);
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .day {
    float: left;
    padding: $offset;
    width: percentage(1 / 7);
    &:first-child .calendar__day,
    &:last-child .calendar__day {
      background-color: rgba(20, 120, 120, .1);
    }
  }
}

.calendar__day {
  background-color: rgba(20, 120, 120, .1);
  height: 130px;
  position: relative;

  .progress,
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .progress {
    background-color: rgba(20, 120, 120, .5);
  }
}

/*
Posts
*/

.posts {
  background-color: rgba(0, 0, 0, .1);
  height: 800px;
}
